<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/contact.css">
</head>
<body>
    <div class="title">Student Profiles</div>
    <div class="grid-container">
        <div class="card">
            <img src="https://avatars.githubusercontent.com/u/157733779?v=4" alt="Profile Image">
            <h3>jiivorn Zoo</h3>
            <p>ID: 64010912532</p>
            <p>Faculty: CS</p>
        </div>
        <div class="card">
            <img src="https://avatars.githubusercontent.com/u/157733779?v=4" alt="Profile Image">
            <h3>Jornvii Joo</h3>
            <p>ID: 789012789012</p>
            <p>Faculty: Arts</p>
        </div>
        <div class="card">
            <img src="https://avatars.githubusercontent.com/u/157733779?v=4" alt="Profile Image">
            <h3>Mike Koo</h3>
            <p>ID: 345678345678</p>
            <p>Faculty: Engineering</p>
        </div>
        <div class="card">
            <img src="https://avatars.githubusercontent.com/u/157733779?v=4" alt="Profile Image">
            <h3>Sarah LeeDer</h3>
            <p>ID: 901234901234</p>
            <p>Faculty: Business</p>
        </div>
    </div>

</body>
</html>